@font-face {
    font-family: KdamThmorPro;
     src: url("assets/fonts/Kdam_Thmor_Pro/KdamThmorPro-Regular.ttf");
   }
@font-face {
    font-family: Roboto;
     src: (url("assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf"));
   }

   @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

html {
    scroll-behavior: smooth; 
  }

   * {
    box-sizing: border-box;
  }
.header {
    
    background-color: #000000;
}
.main {
    
}
.footer {
    background-color: #000000;
}

.footer-img {
    width: 40px;
    height: 40px;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-list {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.main-container {
    display: flex;
  flex-wrap: wrap;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: #ffffff;
    text-decoration: none;
    font-family: KdamThmorPro;
}

.nav-item a {
    color: #ffffff;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .nav-item a:hover {
    color: #829985;
  }

  .section {
    width: 50%
  }
  .section-title {
font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #1c1e1c;
  font-family: KdamThmorPro;
  }
.section-profile-logo {
    width: 300px;
    height: 400px;
    margin-top: 10px;
}
  .link {
    text-decoration: none;
    color: #131513;
    transition: color 0.4s;
  }
  